.modal{
  pointer-events: none !important;
} 
.is-invalid {
    border: 1px solid red !important

  }
  .boat-image {
    width: 100% !important;
    margin: 14px 0px 0px 0px !important;
}   
.dash-filter .dropdown{
  float:left;
  margin: -12px 5px 0px -9px;
  width: 100%;
  padding: 14px;
}

.mobile-sidebar{
  left: 0px !important;
  transition: 0.5s;
}


@media screen and (max-width: 767px) {

  .dash-filter .dropdown{
    float:left;
    margin: 0 0 10px;
    width: 100%;
    padding: 0;
  }
}