.modal{
    pointer-events: none !important;
  } 
.col-md-12.schedule-indicators {
    margin-bottom: 38px;
}


.calender-custom #calendar{
    width: 100% !important;
    max-width: 100%;
    margin: 25px 0;
}
.calender-custom #menu {
    padding: 16px 0 0;
}

.mobile-sidebar{
    left: 0px !important;
    transition: 0.5s;
}