<div class="header-items" id="myHeader">
    <div class="search-bar"> 
<form action="" class="search-form">
   <!-- <div class="form-group has-feedback">
       <label for="search" class="sr-only">Search</label>
       <input type="text" class="form-control" name="search" id="search" placeholder="search">
       <span class="glyphicon glyphicon-search form-control-feedback"><i class="fas fa-search" style="color: #3e4caa;" aria-hidden="true"></i></span>
   </div> -->
</form>
</div>
<!--  
<div class="notification-dropdown">

<a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
<i class="fas fa-bell" aria-hidden="true"></i>
</a>
<span class="badge badge-light">5</span>

<ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

<div class="notification-heading">
<h4 class="menu-title">Notifications</h4>
</div>
<li class="divider"></li>
<div class="notifications-wrapper" id="style-scrollbar">



<a class="content" >
<div class="notification-item row">

<div class="col-md-2 notification-img">
<img src="/assets/images/notification-img1.jpg" alt="notify-img">
</div>  
<div class="col-md-10">
<h4 class="item-title">New Booking 1 · day ago</h4>
<p class="item-info">Owner : Jerry Lawrence</p>
</div> 
</div>
</a>

<a class="content" >
<div class="notification-item row">

<div class="col-md-2 notification-img">
<img src="/assets/images/notification-img1.jpg" alt="notify-img">
</div>  
<div class="col-md-10">
<h4 class="item-title">New Booking 1 · day ago</h4>
<p class="item-info">Owner : Pattinson</p>
</div> 
</div>
</a>


<a class="content">
<div class="notification-item row">

<div class="col-md-2 notification-img">
<img src="/assets/images/notification-img1.jpg" alt="notify-img">
</div>  
<div class="col-md-10">
<h4 class="item-title">New Booking 1 · day ago</h4>
<p class="item-info">Owner : Samson</p>
</div> 
</div>
</a>


<a class="content" >
<div class="notification-item row">

<div class="col-md-2 notification-img">
<img src="/assets/images/notification-img1.jpg" alt="notify-img">
</div>  
<div class="col-md-10">
<h4 class="item-title">New Booking 1 · day ago</h4>
<p class="item-info">Owner : Aron Wade</p>
</div> 
</div>
</a>

<a class="content" >
<div class="notification-item row">

<div class="col-md-2 notification-img">
<img src="/assets/images/notification-img1.jpg" alt="notify-img">
</div>  
<div class="col-md-10">
<h4 class="item-title">New Booking 1 · day ago</h4>
<p class="item-info">Owner : Kim Clinger</p>
</div> 
</div>
</a>




</div>
<li class="divider"></li>
<div class="notification-footer"><a  class="menu-title">View all <i class="fas fa-caret-right"></i></a></div>
</ul>

</div>
 
  -->
  
                      
<div class="user">
                          
    <!-- <img src="/assets/images/user.png"> -->

</div>
<!-- <div class="settings">
<a href="#" routerLink="/settings/"><i class="fas fa-cog"></i></a>
</div> -->
<div class="settings">
    <a  class="btn btn-primary" (click)=Help()>Help <i class="fas fa-question-circle" style="color:white;"></i></a>&nbsp;
<a href="#" routerLink="/owner-login/" class="btn btn-primary" (click)=logout()>Log Out <i class="fas fa-sign-out-alt" style="color:white;"></i></a>
</div>
<div class="mobile-menu-icon">
<i class="fas fa-bars"></i>
</div>
</div>