<div class="main-page">
    <app-sidemenu></app-sidemenu>
    <div class="contents-page col-lg-9">
        <app-header></app-header>
        <div class="headingz">
            <h4><a routerLink="/all-owner/"><i class="far fa-arrow-alt-circle-left"></i> </a> Edit Owner</h4>
        </div>
        
        
        
        <div class="page contents">
            
            <div class="row reverseDiv">
             <div class="col-md-8">
            <div class="sbg-form row">
             <div class="col-md-12">   
                <form [formGroup]="form"  novalidate>
<div class="form-row">
<div class="form-group col-md-6">
<label>First Name</label>
<input type="text" class="form-control" formControlName="First_Name" [ngClass]="{ 'is-invalid': submitted && f.First_Name.errors }">
</div>

<div class="form-group col-md-6">
<label>Last Name</label>
<input type="text" class="form-control" formControlName="Last_Name" [ngClass]="{ 'is-invalid': submitted && f.Last_Name.errors }">
</div>

</div>
                    
                    
<div class="form-row">
<div class="form-group col-md-12">
<label>Home Address</label>
<textarea class="form-control" rows="3" placeholder="Enter here" formControlName="Home_Address" [ngClass]="{ 'is-invalid': submitted && f.Home_Address.errors }"> </textarea>
</div>
</div>                       
                    
                    
<div class="form-row">
<div class="form-group col-md-6">
<label>Email</label>
<input type="email" class="form-control"  formControlName="Email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
</div>

<div class="form-group col-md-6">
<label>Password</label>
<input [type]="show ? 'text' : 'password'" autocomplete="off" class="form-control" formControlName="Password" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }">
<span class="" (click)="password()" style="position: absolute;right: 7px; top: 40px; bottom: 0px; z-index: 1; font-size: x-large;" ><i [class]="show ? 'fas fa-eye' : 'fas fa-eye-slash'"></i></span>

</div>    
</div>                      

      <div class="form-row">
<div class="form-group col-md-6">
<label>Mobile Number</label>
<input type="text" class="form-control" formControlName="Mobile" [ngClass]="{ 'is-invalid': submitted && f.Mobile.errors }">
</div>

<div class="form-group col-md-6">
<label>Family Names</label>
<input type="text" class="form-control" formControlName="Family_Name" [ngClass]="{ 'is-invalid': submitted && f.Family_Name.errors }">
</div>    
</div>                     
                    

<div class="form-row">
<div class="form-group col-md-12">
<label style="font-weight: bold; text-transform: none; margin-right: 15px;">Parking Ability :</label>
<div class="form-check-inline">
<label class="form-check-label">
<input type="radio" class="form-check-input" formControlName="Parking_Ability" value="Expert" name="Parking_Ability">Expert
</label>
</div>
<div class="form-check-inline">
<label class="form-check-label">
<input type="radio" class="form-check-input" formControlName="Parking_Ability" value="Intermediate"  name="Parking_Ability">Intermediate 
</label>
</div>
  
<div class="form-check-inline">
<label class="form-check-label">
<input type="radio" class="form-check-input" formControlName="Parking_Ability" value="Beginner"  name="Parking_Ability">Beginner
</label>
</div> 
  
<div class="form-check-inline">
<label class="form-check-label">
<input type="radio" class="form-check-input" formControlName="Parking_Ability" value="Need Assistance"  name="Parking_Ability">Need Assistance
</label>
</div>        

</div>    
</div>   
          

<!-- ........................Start................... -->


<div class="form-row">
  <div class="form-group col-md-12">
  <label style="font-weight: bold; text-transform: none; margin-right: 15px;">Sailing Ability :</label>
  <div class="form-check-inline">
  <label class="form-check-label">
  <input type="radio" class="form-check-input" formControlName="Sailing_Ability" value="Expert" name="Sailing_Ability">Expert
  </label>
  </div>
  <div class="form-check-inline">
  <label class="form-check-label">
  <input type="radio" class="form-check-input" formControlName="Sailing_Ability" value="Intermediate"  name="Sailing_Ability">Intermediate 
  </label>
  </div>
    
  <div class="form-check-inline">
  <label class="form-check-label">
  <input type="radio" class="form-check-input" formControlName="Sailing_Ability" value="Beginner"  name="Sailing_Ability">Beginner
  </label>
  </div> 
    
  <div class="form-check-inline">
  <label class="form-check-label">
  <input type="radio" class="form-check-input" formControlName="Sailing_Ability" value="Need Assistance"  name="Sailing_Ability">Need Assistance
  </label>
  </div>        
  
  </div>    
  </div>   

  <div class="form-row">
    <div class="form-group col-md-12">
    <label style="font-weight: bold; text-transform: none; margin-right: 15px;">Housekeeping Time :</label>
    <div class="form-check-inline">
    <label class="form-check-label">
    <input type="radio" class="form-check-input" formControlName="Housekeeping" value="High" name="Housekeeping">High
    </label>
    </div>
    <div class="form-check-inline">
    <label class="form-check-label">
    <input type="radio" class="form-check-input" formControlName="Housekeeping" value="Medium"  name="Housekeeping">Medium 
    </label>
    </div>
      
    <div class="form-check-inline">
    <label class="form-check-label">
    <input type="radio" class="form-check-input" formControlName="Housekeeping" value="Low"  name="Housekeeping">Low
    </label>
    </div> 
   
    
    </div>    
    </div>   
          

    <div class="form-row">

      <div class="form-group col-md-6">
        <label>Emergency Contact Mobile</label>
        <input type="text" class="form-control" formControlName="Emergency_Contact_Mobile" [ngClass]="{ 'is-invalid': submitted && f.Emergency_Contact_Mobile.errors }">
        </div>

      <div class="form-group col-md-6">
      <label>Emergency Contact Name</label>
      <input type="text" class="form-control" formControlName="Emergency_Contact_Name" [ngClass]="{ 'is-invalid': submitted && f.Emergency_Contact_Name.errors }">
      </div>
      
          
      </div>  

      <div class="form-row">
        <div class="form-group col-md-12">
        <label>Notes</label>
        <textarea class="form-control" rows="3" placeholder="Enter here" formControlName="Notes" [ngClass]="{ 'is-invalid': submitted && f.Notes.errors }"> </textarea>
        </div>
        </div> 
  





<!-- ........................end............................. -->
<br>
                    
<a  class="btn btn-primary"  (click)= editOwner()>SAVE & EXIT</a>
<!-- <a href="owner-duration.html" class="btn btn-primary">NEXT</a>                    -->
                   

</form>
                </div>  
             </div>
                </div>
                
                   <div class="col-md-4 owner-img-upload">
                      <div class="col-md-12">  
                        <h4>Choose Owner Photo</h4>
                          <p>Choose minimum 130x130 resolution</p>
                        </div>   
                       
                    <div class="row img-upload" style="justify-content: center;">
                       
                        
<div class="small-12 medium-2 large-2 columns" style="justify-content: center;">
<div class="circle">
 <!-- User Profile Image -->
<!-- <img class="profile-pic" src="/assets/images/dummy-owner-img.jpg"> -->

<img class="profile-pic" *ngIf="!data.Profile_Image" src="/assets/images/dummy-owner-img.jpg">
<img class="profile-pic" *ngIf="data.Profile_Image" src="{{imgUrl+data.Profile_Image}}">
</div>
<div class="p-image">
 <i class="fa fa-camera upload-button"></i>
 <!-- <input type="file" class="custom-file-input form-control" id="customFile" name="filename" (focusout)="singleImage($event, 'BACK')"> -->

  <input class="file-upload" type="file"  (change)="singleImage($event, 'BACK')"/>
</div>
</div>
</div>   
                       
                       
                       
                </div>     
                
            </div>
            
            <button style="display:none" type="button" id="error-disp-btns" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
            
              
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)=goToViewPage() data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Owner</h4>
      </div>
      <div class="modal-body">
        <p id="wner_id_edit">{{getResponce}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)=goToViewPage() data-dismiss="modal">OK</button>
      </div>
    </div>
    
  </div>
</div>
        

        </div>
    </div>
</div>
<button style="display:none" type="button" id="error-disp-btns_error" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_error">Open Modal</button>
            
              
<div class="modal fade" id="myModal_error" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Owner</h4>
      </div>
      <div class="modal-body">
        <p>{{getResponce}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
    
  </div>
</div>


<button style="display:none" type="button" id="btn-CommenMessage-disp-btns" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Footer-Success-Modal">Open Modal</button>
            
              
<div class="modal fade" id="Footer-Success-Modal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Message</h4>
      </div>
      <div class="modal-body">
        <p id="p-message-content">{{commenMessages}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-dismiss="modal">OK</button>
      </div>
    </div>
    
  </div>
</div>


<div class="dash-footer">
<!-- <small>© Copyright SMART Boating 2021. All Rights Reserved.</small>   -->
<app-footer-adminsession></app-footer-adminsession>  
</div>
