<!--Create Component for boat bookings Done By Alagesan on 20.05.2021-->

<div class="main-page">
    <app-sidemenu></app-sidemenu>
    <div class="contents-page col-lg-9">
        <app-header></app-header>
        <div class="headingz">
            <h4>Bookings</h4>
        </div>
        <div class="page contents">
                  
            <div class="row" style="margin-bottom: 25px;">
                
                <div class="col-md-5 dash-filter">   

                    <div class="dropdown" style="margin-right: 15px;">

                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                        style="width: 100%;">{{Location_Name_dropDown}}
                        <span><i class="fas fa-filter"></i></span></button>
            
                        <ul class="dropdown-menu">
                        <input class="form-control" id="myInput" type="text" placeholder="Search" [(ngModel)]="searchLoctions">
                        <li *ngFor="let loc of loctions | filter: searchLoctions let i = index;">
                            <a style="cursor:pointer;" (click)="getLoctionTypeId(loc)">{{loc.Boat_Location}}</a>
                        </li>                 
                        <li><input type="button" class="btn btn-clear" (click)="pageRefresh()" style="text-align: center;" value="Clear"></li>
                        </ul>
                    </div>
                        
                

                    <div class="dropdown">

                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                        style="width: 100%;">{{AllBookig_pastBooking_CurrentBooking}}
                        <span><i class="fas fa-filter"></i></span></button>
            
                        <ul class="dropdown-menu">
                            <!-- [(ngModel)]="searchLoctions" -->
                        <input class="form-control" id="myInput" type="text" placeholder="Search">
                        <li *ngFor="let loc of AllBookings_pastBooking_CurrentBooking_Array  let i = index;">
                            <a style="cursor:pointer;" (click)="getLoctionTypeId(loc)">{{loc.booking_type}}</a>
                        </li>                 
                        <li><input type="button" class="btn btn-clear" (click)="pageRefresh()" style="text-align: center;" value="Clear"></li>
                        </ul>
                    </div>
                        
                </div> 
                
                   
                <div class="row col-md-7 boat-search btnSarch">
                          
                        <!-- <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">BOOKING LIST</button></li> -->
                            <a routerLink="/book-for-owner/" class="btn btn-primary">BOOK FOR AN OWNER</a>
                        
                        
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="searchLoction">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        
                        
                </div>   

          </div>
          <form [formGroup]="boatbookingform"  novalidate>
          <div class="row date-filter">
           

            <div class="form-group col-md-3">
            <label>From Date </label>
            <span class="Zebra_DatePicker_Icon_Wrapper" style="display: block; position: relative; float: none; inset: auto; margin: 0px; padding: 0px; width: 345px;"><input  id="datepicker-1-boat-bookings" type="text" formControlName="Launch_Date1"  class="form-control" data-zdp_readonly_element="true" style="position: relative; float: none; inset: auto; margin: 0px; padding-right: 20px;">
            </span>
            </div>

            <div class="form-group col-md-3">
            <label>To Date </label>
            <span class="Zebra_DatePicker_Icon_Wrapper" style="display: block; position: relative; float: none; inset: auto; margin: 0px; padding: 0px; width: 345px;"><input id="datepicker-2-boat-bookings" type="text" formControlName="Launch_Date2"  class="form-control" data-zdp_readonly_element="true" style="position: relative; float: none; inset: auto; margin: 0px; padding-right: 20px;">
            </span>
            </div>

            <div class="col-md-3" style="padding-top: 32px; text-align: right;">
                <button type="button" class="btn btn-primary"  (click)="get_Search_Data_From_To()" style="width: 100%;">SEARCH</button>
            </div>                  
          </div>      
          
        </form>
          <div class="container" style="margin: 30px 0px 0px 0px;padding: 0;">
            <ul id="tabs" class="nav nav-tabs booking-tabs" role="tablist">
            <li class="nav-item" *ngIf="Booking">
                <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">Booking</a>
            </li>
            

            <li class="nav-item" *ngIf="BookingAdminBooking" >
                <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">Admin Booking</a>
            </li>

            <li class="nav-item" *ngIf="BookingMaintenanceBooking">
                <a id="tab-D" href="#pane-D" class="nav-link" data-toggle="tab" role="tab">Maintenance Booking</a>
            </li>

            <li class="nav-item" *ngIf="StandByBooking">
                <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">Stand By Booking</a>
            </li>

            </ul>


            <div id="content" class="tab-content" role="tablist">
           
           
                <div id="pane-A" *ngIf="Booking" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
            <div class="row boat-listing rowPads">
            <div class="col-sm-6 col-md-4 padspace5" *ngFor="let booking of bookingInfo | filter: searchLoction  let i = index;">
                <div class="boat-list-1">   
                <!--Update the anchor tag for boat bookings Done By Alagesan on 21.06.2021-->

                <a >
                    <div class="boat-img">
                        <!-- <img *ngIf="!booking.BoatDetails[0]" src="/assets/images/boat-1.jpg" alt="boat"> -->

                        <img *ngIf="!booking.BoatDetails[0].Boat_Image[0]" src="/assets/images/boat1.jpg" alt="boat">
                        <img *ngIf="booking.BoatDetails[0].Boat_Image[0]" src={{imagePath}}{{booking.BoatDetails[0].Boat_Image[0]}} alt="boat">

                    </div>

                    <div class="info">
                        <h4>{{booking.BoatDetails[0].Boat_Name}}</h4>
                         <!-- <h4>{{booking.BoatDetails[0].Boat_Number}}/{{booking.Booking_ID}}</h4> -->
                         <h4>{{booking.bookingInformation}}</h4>

                        <!-- <h5>#{{i+1001}}</h5> -->
                        <h5><span><i class="far fa-calendar-check commen-span-space" aria-hidden="true"></i>  </span>{{booking.start | date :'dd-MM-yy hh:mm a'}}</h5>
                        <!-- <h5><span><i class="far fa-user" aria-hidden="true"></i>  </span> {{booking.OwnerDetails[0].First_Name}}</h5> -->
                        <div *ngIf="booking.OwnerDetails[0]" >
                            <h5><span><i class="far fa-user commen-span-space" aria-hidden="true"></i>  </span>{{booking.OwnerDetails[0].First_Name}}</h5>
                        <h5><span><i class="fas fa-parking commen-span-space" aria-hidden="true"></i>  </span>{{booking.OwnerDetails[0].Parking_Ability}}</h5>
                        <!--Update the sailing ability for boat bookings Done By Alagesan on 30.06.2021-->
                        <h5><span><i class="fab fa-stripe-s commen-span-space" aria-hidden="true"></i>  </span>{{booking.OwnerDetails[0].Sailing_Ability}}</h5>
                        <h5><span><i class="fas fa-heading commen-span-space" aria-hidden="true"></i>  </span>{{booking.OwnerDetails[0].Housekeeping}}</h5>
                        
                       </div>
                       <div *ngIf="!booking.OwnerDetails[0]">

                        <div *ngIf="booking.Is_StandByBooking">
                            <h5><span><i class="far fa-user commen-span-space" aria-hidden="true"></i>  </span>Admin Rejected Standby</h5>
                            <h5><span><i class="fas fa-parking commen-span-space" aria-hidden="true"></i>  </span>NA</h5>
                        </div>
                        <div *ngIf="!booking.Is_StandByBooking" >
                            <h5><span><i class="far fa-user commen-span-space" aria-hidden="true"></i>  </span>Admin</h5>
                            <h5><span><i class="fas fa-parking commen-span-space" aria-hidden="true"></i>  </span>NA</h5>
                        </div>

                       </div>
                        
                        <h5><span><i class="fas fa-history commen-span-space" aria-hidden="true"></i>  </span>{{booking.end | date :'dd-MM-yy hh:mm a'}}</h5>
                    </div>
                    </a>
                </div>    
            </div>  
                                            
        </div>
                </div>

                <div id="pane-C" *ngIf="BookingAdminBooking" class="card tab-pane fade " role="tabpanel" aria-labelledby="tab-C">
                    <div class="row boat-listing rowPads">
                    <div class="col-sm-6 col-md-4 padspace5" *ngFor="let booking of bookingInfo_Admin | filter: searchLoction  let i = index;">
                        <div  class="boat-list-1">   
                        <!--Update the anchor tag for boat bookings Done By Alagesan on 21.06.2021-->
        
                        <a >
                            <div class="boat-img">
                                <!-- <img *ngIf="!booking.BoatDetails[0]" src="/assets/images/boat-1.jpg" alt="boat"> -->
        
                                <img *ngIf="!booking.BoatDetails[0].Boat_Image[0]" src="/assets/images/boat1.jpg" alt="boat">
                                <img *ngIf="booking.BoatDetails[0].Boat_Image[0]" src={{imagePath}}{{booking.BoatDetails[0].Boat_Image[0]}} alt="boat">
        
                            </div>
        
                            <div class="info">
                                <h4>{{booking.BoatDetails[0].Boat_Name}}</h4>
                                <!-- <h4>{{booking.BoatDetails[0].Boat_Number}}/{{booking.Booking_ID}}</h4> -->
                                <h4>{{booking.bookingInformation}}</h4>


                                <!-- <h5>#{{i+1001}}</h5> -->
                                <h5><span><i class="far fa-calendar-check commen-span-space" aria-hidden="true"></i>  </span>{{booking.start | date :'dd-MM-yy hh:mm a'}}</h5>
                                <!-- <h5><span><i class="far fa-user" aria-hidden="true"></i>  </span> {{booking.OwnerDetails[0].First_Name}}</h5> -->
                                <div *ngIf="booking.OwnerDetails[0]" >
                                    <h5><span><i class="far fa-user commen-span-space" aria-hidden="true"></i>  </span>{{booking.OwnerDetails[0].First_Name}}</h5>
                                <h5><span><i class="fas fa-parking commen-span-space" aria-hidden="true"></i>  </span>{{booking.OwnerDetails[0].Parking_Ability}}</h5>
                                <!--Update the sailing ability for boat bookings Done By Alagesan on 30.06.2021-->
                                <h5><span><i class="fab fa-stripe-s commen-span-space" aria-hidden="true"></i>  </span>{{booking.OwnerDetails[0].Sailing_Ability}}</h5>
                                <h5><span><i class="fas fa-heading commen-span-space" aria-hidden="true"></i>  </span>{{booking.OwnerDetails[0].Housekeeping}}</h5>
                                
                               </div>
                                <div *ngIf="!booking.OwnerDetails[0]" >
                                    <h5><span><i class="far fa-user commen-span-space" aria-hidden="true"></i>  </span>Admin</h5>
                                    <h5><span><i class="fas fa-parking commen-span-space" aria-hidden="true"></i>  </span>NA</h5>
                                    </div>
                                <h5><span><i class="fas fa-history commen-span-space" aria-hidden="true"></i>  </span>{{booking.end | date :'dd-MM-yy hh:mm a'}}</h5>
                            </div>
                            </a>
                        </div>    
                    </div>  
                                                    
                </div>
                </div>

                <div id="pane-D" *ngIf="BookingMaintenanceBooking" class="card tab-pane fade " role="tabpanel" aria-labelledby="tab-D">
                    <div class="row boat-listing rowPads">
                    <div class="col-sm-6 col-md-4 padspace5" *ngFor="let booking of bookingInfo_Maintenance | filter: searchLoction  let i = index;">
                        <div  class="boat-list-1">   
                        <!--Update the anchor tag for boat bookings Done By Alagesan on 21.06.2021-->
        
                        <a >
                            <div class="boat-img">
                                <!-- <img *ngIf="!booking.BoatDetails[0]" src="/assets/images/boat-1.jpg" alt="boat"> -->
        
                                <img *ngIf="!booking.BoatDetails[0].Boat_Image[0]" src="/assets/images/boat1.jpg" alt="boat">
                                <img *ngIf="booking.BoatDetails[0].Boat_Image[0]" src={{imagePath}}{{booking.BoatDetails[0].Boat_Image[0]}} alt="boat">
        
                            </div>
        
                            <div class="info">
                                <h4>{{booking.BoatDetails[0].Boat_Name}}</h4>
                                <!-- <h4>{{booking.BoatDetails[0].Boat_Number}}/{{booking.Booking_ID}}</h4> -->
                                <h4>{{booking.bookingInformation}}</h4>
        
                                <!-- <h5>#{{i+1001}}</h5> -->
                                <h5><span><i class="far fa-calendar-check commen-span-space" aria-hidden="true"></i>  </span>{{booking.start | date :'dd-MM-yy hh:mm a'}}</h5>
                                <!-- <h5><span><i class="far fa-user" aria-hidden="true"></i>  </span> {{booking.OwnerDetails[0].First_Name}}</h5> -->
                                <div *ngIf="booking.OwnerDetails[0]" >
                                    <h5><span><i class="far fa-user commen-span-space" aria-hidden="true"></i>  </span>{{booking.OwnerDetails[0].First_Name}}</h5>
                                <h5><span><i class="fas fa-parking commen-span-space" aria-hidden="true"></i>  </span>{{booking.OwnerDetails[0].Parking_Ability}}</h5>
                                <!--Update the sailing ability for boat bookings Done By Alagesan on 30.06.2021-->
                                <h5><span><i class="fab fa-stripe-s commen-span-space" aria-hidden="true"></i>  </span>{{booking.OwnerDetails[0].Sailing_Ability}}</h5>
                                <h5><span><i class="fas fa-heading commen-span-space" aria-hidden="true"></i>  </span>{{booking.OwnerDetails[0].Housekeeping}}</h5>
                                
                               </div>
                                <div *ngIf="!booking.OwnerDetails[0]" >
                                    <h5><span><i class="far fa-user commen-span-space" aria-hidden="true"></i>  </span>Admin</h5>
                                    <h5><span><i class="fas fa-parking commen-span-space" aria-hidden="true"></i>  </span>NA</h5>
                                    </div>
                                <h5><span><i class="fas fa-history commen-span-space" aria-hidden="true"></i>  </span>{{booking.end | date :'dd-MM-yy hh:mm a'}}</h5>
                            </div>
                            </a>
                        </div>    
                    </div>  
                                                    
                </div>
                </div>



                <div id="pane-B" *ngIf="StandByBooking" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                    <div class="row boat-listing rowPads">
                        <div class="col-sm-6 col-md-4 padspace5" *ngFor="let StandbyBooking of Stand_by_Booking | filter: searchLoction  let i = index;">
                            <div class="boat-list-1">
                            <!--Update the anchor tag for boat bookings Done By Alagesan on 21.06.2021-->
                            <a >
                            <div class="boat-img">
                                <img *ngIf="!StandbyBooking.Boat_Image" src="/assets/images/boat1.jpg" alt="boat">
                                <img *ngIf="StandbyBooking.Boat_Image" src="{{StandbyBooking.imgUrl}}" alt="boat">

                            
                            </div>
                            </a>
                            <div class="info">
                                
                                <h4>{{StandbyBooking.Boat_Name}}</h4>
                                 <!-- <h4>{{StandbyBooking.Boat_Number}}/{{StandbyBooking.Booking_ID}}</h4> -->
                                 <h4>{{StandbyBooking.bookingInformation}}</h4> 

                                <h5><span><i class="far fa-calendar-check commen-span-space"></i>  </span>{{StandbyBooking.start| date :'dd-MM-yy hh:mm a'}} </h5>
                                        
                                         <div *ngIf="StandbyBooking.OwnerDetails" >
                                          <h5><span><i class="far fa-user commen-span-space"></i>  </span>{{StandbyBooking.First_Name}}</h5>
                                          <h5><span><i class="fas fa-parking commen-span-space"></i>  </span>{{StandbyBooking.Parking_Ability}}</h5>
                                          <!--Update the sailing ability for boat bookings Done By Alagesan on 30.06.2021-->
                                          <h5><span><i class="fab fa-stripe-s commen-span-space"></i>  </span>{{StandbyBooking.Sailing_Ability}}</h5>
                                          <h5><span><i class="fas fa-heading commen-span-space"></i>  </span>{{StandbyBooking.Housekeeping}}</h5>
                                          </div>
                                          <div *ngIf="!StandbyBooking.OwnerDetails">
                                              <h5><span><i class="far fa-user commen-span-space"></i>  </span>Admin</h5>
                                              <h5><span><i class="fas fa-parking commen-span-space"></i>  </span>NA</h5>
                                              </div>
                                        
                                        
                                         <!-- <h5><span><i class="far fa-user"></i>  </span> Francis</h5>
                                        <h5><span><i class="fas fa-parking"></i>  </span> Expert</h5> -->
                                        <h5><span><i class="fas fa-history commen-span-space"></i>  </span>{{StandbyBooking.end| date :'dd-MM-yy hh:mm a'}}</h5>
                                        
                                        <a  class="btn btn-primary" (click)= Stand_by_Booking_Accept(StandbyBooking)>Accept</a>
                                        <a  class="btn btn-danger" (click)= Stand_by_Booking_Reject(StandbyBooking)>Reject</a>


                                



                            </div>
                        </div> 
                    </div>
                    
                    <!-- ................................ -->

                    <div class="col-sm-6 col-md-4 padspace5" *ngFor="let StandbyBooking of Stand_by_Booking_Completed | filter: searchLoction  let i = index;">
                        <div class="boat-list-1">
                        <!--Update the anchor tag for boat bookings Done By Alagesan on 21.06.2021-->
                        <a >
                        <div class="boat-img">
                            <img *ngIf="!StandbyBooking.Boat_Image" src="/assets/images/boat1.jpg" alt="boat">
                            <img *ngIf="StandbyBooking.Boat_Image" src="{{StandbyBooking.imgUrl}}" alt="boat">

                        
                        </div>
                        </a>
                        <div class="info">
                            
                            <h4>{{StandbyBooking.Boat_Name}}</h4>
                            <!-- <h4>{{StandbyBooking.Boat_Number}}/{{StandbyBooking.Booking_ID}}</h4> -->
                            <h4>{{StandbyBooking.bookingInformation}}</h4>

                            
                            <h5><span><i class="far fa-calendar-check commen-span-space"></i>  </span>{{StandbyBooking.start| date :'dd-MM-yy hh:mm a'}} </h5>
                                    
                                     <div *ngIf="StandbyBooking.OwnerDetails" >
                                      <h5><span><i class="far fa-user commen-span-space"></i>  </span>{{StandbyBooking.First_Name}}</h5>
                                      <h5><span><i class="fas fa-parking commen-span-space"></i>  </span>{{StandbyBooking.Parking_Ability}}</h5>
                                      <h5><span><i class="fab fa-stripe-s commen-span-space"></i>  </span>{{StandbyBooking.Sailing_Ability}}</h5>
                                          <h5><span><i class="fas fa-heading commen-span-space"></i>  </span>{{StandbyBooking.Housekeeping}}</h5>
                                      </div>
                                      <div *ngIf="!StandbyBooking.OwnerDetails">
                                          <h5><span><i class="far fa-user commen-span-space"></i>  </span>Admin</h5>
                                          <h5><span><i class="fas fa-parking commen-span-space"></i>  </span>NA</h5>
                                          </div>
                                    
                                    
                                     <!-- <h5><span><i class="far fa-user"></i>  </span> Francis</h5>
                                    <h5><span><i class="fas fa-parking"></i>  </span> Expert</h5> -->
                                    <h5><span><i class="fas fa-history commen-span-space"></i>  </span>{{StandbyBooking.end| date :'dd-MM-yy hh:mm a'}}</h5>

                                   
                                    <h5 *ngIf="StandbyBooking.BookingStatus == 'Accepted'"><span class="label label-success">Accept</span></h5>
                                    <h5 *ngIf="StandbyBooking.BookingStatus == 'Rejected'"><span class="label label-danger">Reject</span></h5>
                                    
                        </div>
                    </div> 
                </div>

                  




                    <!-- ................................ -->


                    <button style="display:none" type="button" id="btn-CommenMessage-save-disp-btns" class="btn btn-info btn-lg" data-toggle="modal" data-target="#CommenSave-Success-Modal">Open Modal</button>
                       
                         
                    <div class="modal fade" id="CommenSave-Success-Modal" role="dialog">
                      <div class="modal-dialog">
                      
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" id="h4-message-save-type">Message</h4>
                          </div>
                          <div class="modal-body">
                            <p id="p-message-save-content">{{CommenMessages}}</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" (click)=pageRefresh() data-dismiss="modal">OK</button>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    














                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<div class="dash-footer">
<!-- <small>© Copyright SMART Boating 2021. All Rights Reserved.</small>   -->
<app-footer-adminsession></app-footer-adminsession>  
</div>
<!--Create Component for boat bookings Done By Alagesan on 20.05.2021-->