


<div class="main-page">
    <app-sidemenu></app-sidemenu>
    <div class="contents-page col-lg-9">
        <app-header></app-header>

        <div class="headingz">
          <!-- Change all boat url  for view boat Done By Alagesan on 25.06.2021	-->
            <!-- <h4><a routerLink="/all-boats/"><i class="far fa-arrow-alt-circle-left"></i> </a> Boat Details</h4> -->
            <h4><a (click)="back()"><i class="far fa-arrow-alt-circle-left"></i> </a> Boat Details</h4>
        </div>
        
        
        
        <div class="page contents">
            
<div class="row">
<div class="container boat-detail">

<!-- boat Item Heading -->
<h4 style="width: 100%;">{{data.Boat_Name}} </h4>

<div class="row 1">

  <div class="col-lg-12">
    <div class="calender-custom">


          <div class="code-html">
            <div id="menu">
                <span id="menu-navi">
                    <button type="button" class="btn btn-default btn-sm move-today" data-action="move-today">Today</button>
                    <button type="button" class="btn btn-default btn-sm move-day" data-action="move-prev">
                        <i class="calendar-icon ic-arrow-line-left" data-action="move-prev"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm move-day" data-action="move-next">
                        <i class="calendar-icon ic-arrow-line-right" data-action="move-next"></i>
                    </button>
                </span>
                <span id="renderRange" class="render-range"></span>
            </div>

            <div id="calendar"></div>
        </div>  



    </div>

</div>

</div>

<!-- boat Item Row -->

<div class="row 2">


  <!-- New Edit............ -->
  
  <div class="col-md-6 boat-image-slider">
   
    <div class="container" id="id-sliderbinding-First" style="padding: 0;"> 
  
      <div class="container">
        
      <div class="row" id="id-sliderbinding-Second"> 
  
      </div>
  
      </div>
  
    </div>
    <!--Updated for view boat Done By Alagesan  on 12.06.2021 -->
  
    
  </div>
  <div class="col-md-6">
    <h3 *ngIf="HandBookUrl != null" class="boat_title">Owner Rule Book : <a href={{HandBookUrl}} target="_blank">download</a></h3>
    <h3 *ngIf="HandBookUrl == null" class="boat_title">Owner Rule Book :<span class="span-file-not-fount">File not found</span></h3> 
    <h3 *ngIf="ManualBookUrl != null" class="boat_title">Owner Manual : <a href={{ManualBookUrl}} target="_blank">download</a></h3>
    <h3 *ngIf="ManualBookUrl == null" class="boat_title">Owner Manual :<span class="span-file-not-fount">File not found</span></h3> 
      <h3 class="boat_title">Boat Details </h3>
      <div class="row">
      <ul class="col-md-12">
        <div *ngIf="data.Boattype_Name">
          <li><h6 >Boat Type </h6> <span>{{data.Boattype_Name}}</span></li>
          </div>
          <div *ngIf="!data.Boattype_Name">
            <li><h6>Boat Type </h6> <span>{{data.BoattypeDetails[0].Boat_Type}}</span></li>
            </div>
            <li><h6>Owners Allowed </h6> <span>{{data.Owners_Allowed}}</span></li>
            <div *ngIf="data.Location_Name">
              <li><h6>Location </h6> <span>{{data.Location_Name}}</span></li>
              </div>
              <div *ngIf="!data.Location_Name">
                <li><h6>Location </h6> <span>{{data.locationDetails[0].Boat_Location}}</span></li>
                </div>
                  <li><h6>Launch Date </h6> <span>{{Launch_Dates}}</span></li>
            <li><h6>Pre-Launch Date </h6> <span>{{preDates}}</span></li>
            <li><h6>Status </h6> <span>{{boatStatus}}</span></li>
           
           
      </ul>
      </div>

      <input type="button" class="btn btn-primary" style="margin: 25px 0 10px;" value="Edit Boat" (click)=editBoat()>
  </div>
  
  
  <!-- New edit End............. -->
  
  
  </div>

<div class="row 3">




  <div class="col-md-6">

    <div class="row">

       <div class="col-md-12">
        <h4 class="summer_Duration mt-3" style="width:100%;padding-top: 10px;">Seasons Duration</h4> 
      </div> 

      <div class="col-md-6">
        <ul>       
       
          <li><h6 style="min-width: 120px;">Summer From </h6> <span>{{Summer_From}}</span> </li> 
          <li><h6 style="min-width: 115px;">Summer To </h6> <span>{{Summer_To}}</span></li>
         
        </ul>

      </div>

      <div class="col-md-6">

        <ul>          
          <li><h6 style="min-width: 115px;">Winter From </h6> <span>{{Winter_From}}</span></li>
          <li><h6 style="min-width: 110px;">Winter To </h6> <span>{{Winter_To}}</span></li>
        </ul>

      </div>
        
      
     
     </div>



      <ul class="col-md-12 bg-win" style="float: left;background: #1f2c83;margin-top: 22px;">
      <li><h6 class="sum-title">SUMMER WEEKDAYS </h6> <span class="sum-second">{{TotalDaysAssigned_Summer_WeekDays}}</span></li>
      <li><h6 class="sum-title">SUMMER WEEKENDS </h6> <span class="sum-second">{{TotalDaysAssigned_Summer_WeekEndDays}}</span></li>
      </ul>
      <ul class="col-md-12 bg-win" style="float: left;background: #1f2c83;margin-top: 22px;">
      <li><h6 class="sum-title">WINTER WEEKDAYS </h6> <span class="sum-second">{{TotalDaysAssigned_Winter_WeekDays}}</span></li>
      <li><h6 class="sum-title">WINTER WEEKENDS </h6> <span class="sum-second">{{TotalDaysAssigned_Winter_WeekEndDays}}</span></li>
      </ul>
  </div>

  <div class="col-md-6">

    <ul>
      
         
          <li><h6 class="pt-2">Facilities </h6>
            <span><textarea class="facilities" readonly rows="3" placeholder="Enter Here Text">{{data.Boat_Facility}}
            </textarea></span>
          </li> 
          <li>
            <h6 class="descr-title mt-2">Description </h6>
            <textarea class="form-add-boat" rows="4" readonly placeholder="Enter Here Text">{{data.Boat_Description}}
            </textarea>
          </li>
    </ul>

  </div>




</div>



                  
<div class="row profile-page margin-top"> 
  <div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px;">
<h3 class="boat_title">Owners</h3>   
  </div>  
  <div *ngIf="boatOwners.length==0">
    <h4>No Current Owners</h4>
  </div>
 <div class="col-xl-6 col-lg-12 col-md-6" *ngFor="let datas of boatOwners     let index = index">
      <div class="card profile-header">
          <div class="body">
              <div class="row">
                 <div class="col-lg-3 col-md-3 col-12">
                      <div class="profile-image float-md-right"> <img *ngIf="!datas.Profile_Image" src="/assets/images/owner-img-1.jpg" alt="owner-img"> </div>
                      <div class="profile-image float-md-right"> <img *ngIf="datas.Profile_Image" src="{{imgUrl+datas.Profile_Image}}" alt="owner-img"> </div>
                    </div>
                  <div class="col-lg-7 col-md-9 col-12">
                      <h4 class="m-t-0 m-b-0"><strong>{{datas.First_Name}}</strong> {{datas.Last_Name}}</h4>
                      <span class="email"><i class="fa fa-envelope"></i>{{datas.Email}}</span> <br>
                      <span class="phone"><i class="fas fa-mobile-alt"></i> {{datas.Mobile}}</span> <br>
                      <span class="phone"><i class="fas fa-house-user"></i> {{datas.Family_Name}}</span><br>
                      <span class="phone"><i class="fas fa-ship"></i> {{datas.Boat_Name}}</span>
                  </div>  
                  
                  <div class="col-md-2 update-user">
                      <ul>
                          <li><button><i class="far fa-trash-alt" (click)=deleteManageOwner(datas)></i> </button></li>
                          <!-- <li><button><i class="far fa-edit" (click)=editManageOwner(datas)></i> </button></li> -->
                                      <!--View owner details for view boat page Done By Alagesan  on 13.06.2021 -->
                          <li><a (click)=viewManageOwner(datas)><button><i class="far fa-eye"></i> </button></a></li>
                      </ul>    
                  </div>
                  <!--Updated owners for view boat Done By Alagesan  on 12.06.2021 -->
                  <div class="col-md-6 owner-datas">
                      <ul>
                  <li><h6>TOTAL DAYS BOOKED </h6> <span>{{datas.Booked_Total_Days}}/{{datas.Total_Days}}</span></li>
                  <li><h6>SUMMER WEEKENDS </h6> <span>{{datas.Booked_Summer_WeekEndDays}}/{{datas.Summer_WeekEndDays}}</span></li>
                  <li><h6>WINTER WEEKENDS </h6> <span>{{datas.Booked_Winter_WeekEndDays}}/{{datas.Winter_WeekEndDays}}</span></li>
                      </ul>
                  </div>  
                  
                    <div class="col-md-6 owner-datas">
                      <ul>
                  <li><h6>SUMMER WEEKDAYS </h6> <span>{{datas.Booked_Summer_WeekDays}}/{{datas.Summer_WeekDays}}</span></li>
                  <li><h6>WINTER WEEKDAYS </h6> <span>{{datas.Booked_Winter_WeekDays}}/{{datas.Winter_WeekDays}}</span></li>
                  <li><h6>CLEANING DAYS </h6> <span>{{datas.CleaningDays}}</span></li>
                      
                     </ul>
                  </div>  
                  
                  
                 </div>
          </div>                    
      </div>
  </div>
  <button style="display:none" type="button" id="pop-up-btn" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
            
              
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Manage Owner</h4>
        </div>
        <div class="modal-body">
          <p>{{getResponce}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
      
    </div>
  </div>  
  <button style="display:none" type="button" id="removeBoat" class="btn btn-info btn-lg" data-toggle="modal" data-target="#removeBoats">Open Modal</button>


<div class="modal fade" id="removeBoats" role="dialog">
  <div class="modal-dialog">
  
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Manage Owner</h4>
      </div>
      <div class="modal-body">
     <span class="red">You are about to delete this owner from the boat. Are you sure you want to continue?</span>
        <!-- <p>You Want To Delete Manage Owner!!!.</p> -->
      </div>
      <div class="modal-footer">
    <span a href="#" (click)=delete() class="confirm-bttn">Yes</span>
    <span a href="#" data-dismiss="modal" class="cancel-bttn">No</span>
       </div>
    </div>
    
  </div>
</div>
          
</div> 
            
                  

</div>
                         
</div>
            
            
            
           
        </div>
    </div>
</div>
<div class="dash-footer">
  <app-footer-adminsession></app-footer-adminsession>    
</div>