<div class="main-page">
    <app-sidemenu></app-sidemenu>
    <div class="contents-page col-lg-9">
        <app-header></app-header>
        <div class="headingz">
            <h4>Archive Boats</h4>
        </div>
        <div class="page contents">
            <div class="row" style="margin-bottom: 25px;">
                  
           <div class="col-md-8 dash-filter">   
           
               <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Location
                    <span><i class="fas fa-filter" aria-hidden="true"></i></span></button>
                    <ul class="dropdown-menu">
                    <input class="form-control" id="myInput" type="text" placeholder="Search..">
                    <li><a>A</a></li>
                    <li><a>B</a></li>
                    <li><a>C</a></li>
                    <li><a>D</a></li>
                    </ul>
                  </div>
               
                 </div>        
                 <div class="col-md-4 boat-search">
                     <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                  </div>   
            </div>
            
          <h4 class="content-title">Boats</h4>   
            
             <div class="row boat-list">
                
             <div class="card col-md-4">
                 <a ><img class="card-img-top" src="../../assets/images/boat1.jpg" alt="boat image"></a>
                <div class="card-body">
                <a  class="card-link"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> Sydney</a>
                <a  class="card-link f-right"><i class="far fa-calendar-alt" aria-hidden="true"></i> Calendar</a>
                </div>                    
                <div class="card-header">
                <a > Sailboat DELPHIA YACHTS</a>
                </div>

                <div class="card-body row">                    
                <div class="booking-days col-md-6">
                <h6>100/300 Days </h6>
                </div>
                
                <div class="owner-nos col-md-6">
                    <h6>10 Super Owners </h6>
                </div>
                
                </div>                   
              </div>
              <div class="card col-md-4">
                    <a ><img class="card-img-top" src="../../assets/images/boat1.jpg" alt="boat image"></a>
                    <div class="card-body">
                    <a class="card-link"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> Sydney</a>
                    <a class="card-link f-right"><i class="far fa-calendar-alt" aria-hidden="true"></i> Calendar</a>
                    </div>                    
                    <div class="card-header">
                    <a > Sailboat DELPHIA YACHTS</a>
                    </div>

                    <div class="card-body row">                    
                    <div class="booking-days col-md-6">
                    <h6>100/300 Days </h6>
                    </div>
                    
                    <div class="owner-nos col-md-6">
                        <h6>10 Super Owners </h6>
                    </div>
                    
                    </div>                   
                </div>
                 
                <div class="card col-md-4">
                    <a ><img class="card-img-top" src="../../assets/images/boat1.jpg" alt="boat image"></a>
                    <div class="card-body">
                    <a  class="card-link"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> Sydney</a>
                    <a  class="card-link f-right"><i class="far fa-calendar-alt" aria-hidden="true"></i> Calendar</a>
                    </div>                    
                    <div class="card-header">
                    <a > Sailboat DELPHIA YACHTS</a>
                    </div>

                    <div class="card-body row">                    
                    <div class="booking-days col-md-6">
                    <h6>100/300 Days </h6>
                    </div>
                    
                    <div class="owner-nos col-md-6">
                        <h6>10 Super Owners </h6>
                    </div>
                    
                    </div>                   
                </div>
                 
                <div class="card col-md-4">
                    <a ><img class="card-img-top" src="../../assets/images/boat1.jpg" alt="boat image"></a>
                    <div class="card-body">
                    <a  class="card-link"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> Sydney</a>
                    <a  class="card-link f-right"><i class="far fa-calendar-alt" aria-hidden="true"></i> Calendar</a>
                    </div>                    
                    <div class="card-header">
                    <a > Sailboat DELPHIA YACHTS</a>
                    </div>

                    <div class="card-body row">                    
                    <div class="booking-days col-md-6">
                    <h6>100/300 Days </h6>
                    </div>
                    
                    <div class="owner-nos col-md-6">
                        <h6>10 Super Owners </h6>
                    </div>
                    
                    </div>                   
                </div>
                 
                <div class="card col-md-4">
                    <a ><img class="card-img-top" src="../../assets/images/boat1.jpg" alt="boat image"></a>
                    <div class="card-body">
                    <a  class="card-link"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> Sydney</a>
                    <a  class="card-link f-right"><i class="far fa-calendar-alt" aria-hidden="true"></i> Calendar</a>
                    </div>                    
                    <div class="card-header">
                    <a > Sailboat DELPHIA YACHTS</a>
                    </div>

                    <div class="card-body row">                    
                    <div class="booking-days col-md-6">
                    <h6>100/300 Days </h6>
                    </div>
                    
                    <div class="owner-nos col-md-6">
                        <h6>10 Super Owners </h6>
                    </div>
                    
                    </div>                   
                </div>
                <div class="card col-md-4">
                    <a><img class="card-img-top" src="../../assets/images/boat1.jpg" alt="boat image"></a>
                    <div class="card-body">
                    <a  class="card-link"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> Sydney</a>
                    <a class="card-link f-right"><i class="far fa-calendar-alt" aria-hidden="true"></i> Calendar</a>
                    </div>                    
                    <div class="card-header">
                    <a > Sailboat DELPHIA YACHTS</a>
                    </div>

                    <div class="card-body row">                    
                    <div class="booking-days col-md-6">
                    <h6>100/300 Days </h6>
                    </div>
                    
                    <div class="owner-nos col-md-6">
                        <h6>10 Super Owners </h6>
                    </div>
                    
                    </div>                   
                </div>
            </div>  
         </div>
    </div>
</div>
<div class="dash-footer">
<!-- <small>© Copyright SMART Boating 2021. All Rights Reserved.</small>   -->
<app-footer-adminsession></app-footer-adminsession>  
</div>