.error {
    border: 1px solid red !important

  }

  .is-invalid {
    border: 1px solid red !important

  }

  .div-cls-login{
    text-align: center;
}

.modal{
  pointer-events: none !important;
} 